<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <button class="btn" id="btn2">View Expenses</button>
    
    <div class="wrapper">
        <form action="">
            <h1>Expense</h1>
            <div class="input-box">
                <input type="text" placeholder="Product Name">
            </div>
            
            <div class="input-box">
                <select name="cars" id="cars">
                    <option value="volvo">Food Item</option>
                    <option value="saab">Electronic Accessory</option>
                    <option value="mercedes">Skin-care Product</option>
                  </select>
            </div>
           

            <div class="input-box">
                <input type="text" placeholder="Expense">
            </div>

            <div class="input-box">
                <input type="text" placeholder="Description">
            </div>

            <button type="submit" class="btn">Add Expense</button>
        </form>
    </div>
</body>
</html>