@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html, body{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Poppins",sans-serif;
}
 
body{
    background: url('home.jpg') no-repeat;
    background-position: center center;
    background-size: cover;

 }

 .container {
        margin-top: 40px;
    }

.custom-table {
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        margin-top: 15px;
}

    .custom-table th,
    .custom-table td {
        border: 1px solid #1b1a1a;
        padding: 8px;
    }

.custom-table2 {
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        margin-top: 15px;
}

    .custom-table2 th,
    .custom-table2 td {
        border: 1px solid #1b1a1a;
        padding: 8px;
}

.custom-table3 {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    margin-top: 15px;
}

.custom-table3 th,
.custom-table3 td {
    border: 1px solid #1b1a1a;
    padding: 8px;
}


    #btn2{
        width: 150px;
        height: 45px;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        top:17px;
        right: 170px;
        position: absolute;
        text-decoration: none;
        padding-left: 22px;
        padding-top: 10px;
    }
    
    #btn3{
        width: 150px;
        height: 45px;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        top:17px;
        right: 10px;
        position: absolute;
        text-decoration: none;
        padding-left: 22px;
        padding-top: 10px;
    }

    #btn4{
        width: 150px;
        height: 45px;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        top:17px;
        left: 10px;
        position: absolute;
        text-decoration: none;
        padding-left: 47px;
        padding-top: 10px;
    }
    
    #downloadButton{
        width: 220px;
        height: 45px;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        top:17px;
        left: 170px;
        position: absolute;
        text-decoration: none;
        padding-left: 30px;
        padding-top: 10px;
    }
    
    h4{
        margin-top: 40px;
        color: #fff;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        text-decoration: underline;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 30px;
      }
      
      .prev-btn,
      .next-btn {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #fff;
        color:black;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
      }
      
      .prev-btn:hover,
      .next-btn:hover {
        background-color: #ef9ccb;
      }
      
      .current-page {
        margin: 0 15px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
      
      .pagination button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
      
      .pagination button:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
      }